

/* Universal selector for consistent box sizing */
*{
  box-sizing: border-box; 
}

/* Styling for paragraph text */
p{
 font-weight: bold;
 font-size: 20px;

}

/* Input field container styling */
.input{

  font-size:30px;
}


/* Body styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px; 
  margin: 0;/* Removes default margins */
  background-color: rgb(206, 249, 255);
}
/* Unordered list styling for social login icons */
ul{
  display: flex;
  list-style-type: none;
  align-items: center; /* Align items vertically within the ul */
  justify-content: center; /* Center items horizontally within the ul */
  margin: 0;
  padding: 0;
}


/* Label styling for input fields */
.lbform {
  display: inline-block; /* Keeps the label inline with elements */
  padding-bottom: 5px;
  border-bottom: 3px dotted rgb(109, 170, 228);
  color: black;
}

/* Styling for the form */
form {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}


/* Button styling */
button{

  background-color: black;
  color: white;
  margin-top: 42px;
  margin-bottom:20px;
  cursor:pointer;
  height: 38px;
  width: 500px;
  font-size: 16px;
  font-weight: bold;
  border:none;
}



/* Button hover effect */

button:hover{
background-color: rgb(66, 64, 64);

}
/* Input field styling */
input{
height: 38px;
width: 500px;

}

/* Checkbox label styling */

.lbPassword{
  margin-top:15px;
  }


  /* Checkbox styling */
.savePassword {
  
  width: 16px;  
  height: 16px; 
}

/* Label alignment for checkboxes */
label {

  display: flex; 
  align-items: center; 
  gap: 5px;  

}

label input {
  margin: 0;  
}

/* Main container for login and signup frames */
.frameSignUp,.frameLogin{

  text-align: center;
  width:  680px; /* Frame width */
  height: 700px;/* Frame height */
  border:10px solid;
 
  padding-top:20px ;
  border-radius: 5%; /* Rounded corners */
  background-color: White;
  
}
.frameSignUp{
  border-color: rgb(43, 134, 187);
}


.frameLogin{
  border-color: rgb(216, 104, 151);

}
/* Styling for the separator line and text */
.line-beside-or {
  display: flex; /* Aligns text and lines horizontally */
  align-items: center; 
  justify-content: center;
  font-size: 18px; /* Font size for the 'or' text */
}

/* Decorative lines on either side of 'or' */
.line-beside-or:before, .line-beside-or:after {
  border-top: 1px solid;/* Thin horizontal line */
  content: "";/* Adds an empty content block */
  width: 13em;  /* Line width */
}


/* Space on the left of the 'or' text */
.line-beside-or:before {
  margin-right: 1em; 

}

/* Space on the right of the 'or' text */
.line-beside-or:after {
  margin-left: 1em; 
}

/* Facebook logo styling */
.fbLogo{
    display:block;
    margin-top: 15px;
    margin-left: auto;
    margin-right:auto;
    width: 50px; /* Logo size */
    margin-right:10px;
}



/* Google logo styling */
.googleLogo{
  margin-top: 15px;
  display: block;
  width: 50px; /* Logo size */
}